<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quarta">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/quartalogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quartalogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quarta">
        <activity android:name="com.example.quarta.LoanApplication"></activity>
        <activity android:name="com.example.quarta.ActiveLoans" />
        <activity android:name="com.example.quarta.Profile" />
        <activity android:name="com.example.quarta.QuarTalk" />
        <activity android:name="com.example.quarta.HomeDashBoard" />
        <activity android:name="com.example.quarta.Otp" />
        <activity android:name="com.example.quarta.SignUp" />
        <activity android:name="com.example.quarta.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>