<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quarta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/quartalogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quartalogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quarta">
        <activity
            android:name=".Billing"
            android:exported="true" />
        <activity
            android:name=".Loan_CalcuActivity"
            android:exported="true" />
        <activity
            android:name=".Verification_Activity"
            android:exported="true" />
        <activity android:name=".EditProfile" />
        <activity android:name=".LoanApplication" />
        <activity android:name=".PaymentHistory" />
        <activity android:name=".ActiveLoans" />
        <activity android:name=".Profile" />
        <activity android:name=".QuarTalk" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Otp" />
        <activity android:name=".SignUp" />
        <activity android:name=".HomeDashBoard" />
    </application>

</manifest>